---
import "./step-form.scss";
import PlanRadioButton from "../plan-radio-button/PlanRadioButton.astro";
import Switch from "../switch/Switch.astro";
import Checkbox from "../checkbox/Checkbox.astro";
---

<section class="step-form">
  <div class="step-form__inner">
    <div class="step-form__wrapper">
      <div class="step-form__steps-container">
        <div class="step-form__steps">
          <ul class="steps">
            <li class="step step--active" data-step-number="1">
              <div class="step-wrapper">
                <div class="step__number">
                  <span>1</span>
                </div>
                <div class="step__info">
                  <small>step 1</small>
                  <p>your info</p>
                </div>
              </div>
            </li>

            <li class="step" data-step-number="2">
              <div class="step-wrapper">
                <div class="step__number">
                  <span>2</span>
                </div>
                <div class="step__info">
                  <small>step 2</small>
                  <p>select plan</p>
                </div>
              </div>
            </li>

            <li class="step" data-step-number="3">
              <div class="step-wrapper">
                <div class="step__number">
                  <span>3</span>
                </div>
                <div class="step__info">
                  <small>step 3</small>
                  <p>add-ons</p>
                </div>
              </div>
            </li>

            <li class="step" data-step-number="4">
              <div class="step-wrapper">
                <div class="step__number">
                  <span>4</span>
                </div>
                <div class="step__info">
                  <small>step 4</small>
                  <p>summary</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="step-form__form-container">
        <div class="form__container">
          <form class="form" id="step-form">
            <div class="form__swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="form__step">
                    <div class="form__step-header">
                      <h1 class="form__step-title">Personal info</h1>
                      <p class="form__step-description">
                        Please provide your name, email address, and phone
                        number.
                      </p>
                    </div>
                    <div class="form__step-controls">
                      <div
                        class="form__control"
                        data-touched="false"
                        data-required="true"
                        data-is-valid="false"
                      >
                        <div class="form__control-header">
                          <label for="name" class="form__control-label"
                            >Name</label
                          >
                          <p class="form__control-error">
                            This field is required
                          </p>
                        </div>
                        <input
                          autocomplete="given-name"
                          class="form__control-input"
                          type="text"
                          id="name"
                          name="name"
                          placeholder="e.g. Stephen King"
                          required
                          aria-required="true"
                          pattern="^[a-zA-Z.'\\- ]{1,50}$"
                        />
                      </div>
                      <div
                        class="form__control"
                        data-touched="false"
                        data-required="true"
                        data-is-valid="false"
                      >
                        <div class="form__control-header">
                          <label for="email" class="form__control-label"
                            >Email Address</label
                          >
                          <p class="form__control-error">
                            This field is required
                          </p>
                        </div>
                        <input
                          autocomplete="email"
                          class="form__control-input"
                          type="email"
                          id="email"
                          name="email"
                          placeholder="e.g. stephenking@lorem.com"
                          required
                          aria-required="true"
                          pattern="^[a-zA-Z0-9._\\-]{1,100}@[a-zA-Z0-9]+\\.[a-zA-Z]{2,10}$"
                        />
                      </div>
                      <div
                        class="form__control"
                        data-touched="false"
                        data-required="true"
                        data-is-valid="false"
                      >
                        <div class="form__control-header">
                          <label for="phone" class="form__control-label"
                            >Phone Number</label
                          >
                          <p class="form__control-error">
                            This field is required
                          </p>
                        </div>
                        <input
                          autocomplete="tel"
                          class="form__control-input"
                          type="tel"
                          id="phone"
                          name="phone"
                          placeholder="e.g. +1 234 567 890"
                          required
                          aria-required="true"
                          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="form__step">
                    <div class="form__step-header">
                      <h1 class="form__step-title">Select your plan</h1>
                      <p class="form__step-description">
                        You have the option of monthly or yearly billing.
                      </p>
                    </div>
                    <div class="form__step-controls">
                      <div class="radio-container">
                        <PlanRadioButton
                          id="arcade"
                          placeholder="Arcade"
                          name="plan"
                          value="9"
                          icon="/assets/images/icon-arcade.svg"
                          customClasses="form__control"
                          data-touched="false"
                          data-required="true"
                          data-is-valid="false"
                        >
                          <Fragment slot="plan-name">Arcade</Fragment>
                          <Fragment slot="plan-cost">$9/mo</Fragment>
                          <Fragment slot="plan-free">2 months free</Fragment>
                        </PlanRadioButton>
                        <PlanRadioButton
                          id="advanced"
                          placeholder="Advanced"
                          name="plan"
                          value="12"
                          icon="/assets/images/icon-advanced.svg"
                          customClasses="form__control"
                          data-touched="false"
                          data-required="true"
                          data-is-valid="false"
                        >
                          <Fragment slot="plan-name">Advanced</Fragment>
                          <Fragment slot="plan-cost">$12/mo</Fragment>
                          <Fragment slot="plan-free">2 months free</Fragment>
                        </PlanRadioButton>
                        <PlanRadioButton
                          id="pro"
                          placeholder="Pro"
                          name="plan"
                          value="15"
                          icon="/assets/images/icon-pro.svg"
                          customClasses="form__control"
                          data-touched="false"
                          data-required="true"
                          data-is-valid="false"
                        >
                          <Fragment slot="plan-name">Pro</Fragment>
                          <Fragment slot="plan-cost">$15/mo</Fragment>
                          <Fragment slot="plan-free">2 months free</Fragment>
                        </PlanRadioButton>
                      </div>

                      <Switch
                        id="switch-billing"
                        name="billing"
                        value="monthly"
                        customClasses="form__control"
                        data-touched="false"
                        data-required="true"
                        data-is-valid="false"
                      >
                        <Fragment slot="false-value-label">Monthly</Fragment>
                        <Fragment slot="true-value-label">Yearly</Fragment>
                      </Switch>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="form__step">
                    <div class="form__step-header">
                      <h1 class="form__step-title">Pick add-ons</h1>
                      <p class="form__step-description">
                        Add-ons help enhance your gaming experience.
                      </p>
                    </div>
                    <div class="form__step-controls">
                      <Checkbox
                        id="online-service"
                        name="online-service"
                        placeholder="Online service"
                        value="1"
                      >
                        <Fragment slot="checkbox-title">
                          Online service
                        </Fragment>
                        <Fragment slot="checkbox-description">
                          Access to multiplayer games
                        </Fragment>
                        <Fragment slot="checkbox-cost">+$1/mo</Fragment>
                      </Checkbox>
                      <Checkbox
                        id="large-storage"
                        name="large-storage"
                        placeholder="Large storage"
                        value="2"
                      >
                        <Fragment slot="checkbox-title">
                          Larger storage
                        </Fragment>
                        <Fragment slot="checkbox-description">
                          Extra 1TB of cloud save
                        </Fragment>
                        <Fragment slot="checkbox-cost">+$2/mo</Fragment>
                      </Checkbox>
                      <Checkbox
                        id="customizable-profile"
                        name="customizable-profile"
                        placeholder="Customizable profile"
                        value="2"
                      >
                        <Fragment slot="checkbox-title">
                          Customizable profile
                        </Fragment>
                        <Fragment slot="checkbox-description">
                          Custom theme on your profile
                        </Fragment>
                        <Fragment slot="checkbox-cost">+$2/mo</Fragment>
                      </Checkbox>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="form__step">
                    <div class="form__step-header">
                      <h1 class="form__step-title">Finishing up</h1>
                      <p class="form__step-description">
                        Double-check everything looks OK before confirming.
                      </p>
                    </div>
                    <div class="form__step-summary">
                      <div class="summary">
                        <div class="summary__inner">
                          <table class="summary__table">
                            <tbody id="summary-table-body">
                              <tr>
                                <td colspan="2">
                                  <div class="selected-plan">
                                    <p class="selected-plan__name">
                                      Arcade (Monthly)
                                    </p>
                                    <button class="button button--link"
                                      >Change</button
                                    >
                                  </div>
                                </td>
                                <td align="right">
                                  <p class="cost selected-plan__cost">
                                    <strong> $9/mo</strong>
                                  </p>
                                </td>
                              </tr>

                              <template id="summary-row-template">
                                <tr class="summary__item-row">
                                  <td colspan="2">
                                    <p class="summary__item" id="summary-item">
                                      Larger storage
                                    </p>
                                  </td>
                                  <td align="right">
                                    <p class="cost" id="summary-item-cost">
                                      +$2/mo
                                    </p>
                                  </td>
                                </tr>
                              </template>
                            </tbody>
                          </table>
                        </div>

                        <div class="summary__total">
                          <p class="summary__item">Total (per month)</p>
                          <p class="cost cost--total">+$12/mo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="actions__container">
          <button
            type="button"
            data-button-type="prev"
            class="button"
            style="visibility: hidden;">Go Back</button
          >
          <button
            type="button"
            data-button-type="next"
            class="button button--primary">Next Step</button
          >
          <input
            type="submit"
            data-button-type="submit"
            class="button button--primary"
            value="Confirm"
            style="display: none;"
            form="step-form"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./step-form.ts"></script>
